.box{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 50vh;
    margin-top: 100px;
    border: 1px solid grey;

}
.information{
    font-size: 13px;
    color: black;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0px 200px 0 200px;
}
.information a{
    width: 17%;
}
.find__button{
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0 200px 0 250px;
    width: 100%;
}
.others li,.others a{
    font-size: 13px;
}