*{
  margin: auto;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  top: 0px;
  width: 100%;
}
.header{
  height: 80px;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid #999;
  margin-top: -1px;

}
.header__gnb{
  width: 1000px;
  height: 50px;
  margin: -90px auto 0 auto;
}
.header__gnb ul{
  margin-top: 120px;
  
}
.header__gnb ul li, .button__1, .button__2{
  /*display: inline-block; */
  float: left;
  width: 13%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  list-style: none;
}
.header__gnb ul li a{
  height: 30px;
  color: black;
  display: block;
  font: bold 14px;
  letter-spacing: 1px;
  text-decoration: none;
}

.button__1, .button__2 {
  width: 120px !important;
  padding-bottom: 15px !important;
	background-color: white;
	border-radius:30px;
	border:1px solid #067adf;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
	font-size:14px;
	text-decoration:none;
  margin-right: 30px;
  letter-spacing: 1px;
  padding: 0px 0px 0px 0px;
}
.button__1:hover, .button__2:hover {
	background-color:#067adf;
  color:white !important;
}
.button__1 a:hover, .button__2 a:hover{
  color:white !important;
}
.button__1:active, .button__2:active {
	position:relative;
	top:1px;
}

